.nav 
{
  color: black;
}

#tm-nav.navbar 
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  z-index: 1000;
  opacity: 1;
}

.leftmost 
{
  margin-right: auto;
  padding-left: 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}