<br>

<nav id="tm-nav" class="navbar">

  <ul class=" text-2xl font-normal flex  md:flex-row">

    <img src="assets/img/prodapt.png" width="50" alt="profile picture" style="float: right;">
    <li class="leftmost">License Central</li>
    <li class="mx-4"><a href="#about" class="nav">Home</a></li>
    <li class="mx-4"><a href="#services" class="nav">About</a></li>
    <li class="mx-4"><a href="#features" class="nav">Features</a></li>
    <li class=" mx-4"><a routerLink="/login" class="nav">Login</a></li>
    <li class="mx-4"><a routerLink="/register" fragment = "top" class="nav">Sign Up</a></li>
  </ul>
