.nav 
{
  color: black;
}

#tm-nav.navbar 
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  z-index: 1000;
  opacity: 1;
}

.leftmost 
{
  margin-right: auto;
  padding-left: 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.background-container 
{
  background-color: white;
}

.navbar1 
{
  list-style: none;
  padding: 0;
  display: flex;
  background-color: #555;
  justify-content: center;
}

.navitem 
{
  margin: 0 10px;
}

.navitem a 
{
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #555;
}

.navitem a:hover 
{
  background-color: #777;
}

.navitem a.active 
{
  background-color: #4CAF50;
}

h3 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: crimson;
  font-weight: 800;
}

.button-container 
{
  display: flex;
  justify-content: center;
  align-items: center;

}

.my-button 
{
  width: 100px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.card-body 
{
  border: 2px solid #474444;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  max-width: 500px;
  margin-left: 22rem;
}

p 
{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 450;
}

h4 
{
  text-align: center;
  font-weight: 600;
  color: crimson;
}