<app-menu></app-menu>

<div class="main">
  <div id="about">
    <div class="background-container" style="background-color: white;">
      <div class="id" style="height: 100%;">
        <div class="sm:pb-30 sm:pt-30 py-20">
          <div class="name" style="border-radius: 0px; border: 1px solid black;">
            <h1 class="heading">License Central</h1>
            <p class="info1">Seamless Licensing Solutions for a Digital World
            </p>
            <br>
            <div style="border-radius: 5px; border: 1px solid black; 
            width: 90%; margin: 0 auto; ">
              <p class="info2" style="text-align: center; ">
                Welcome to our cutting-edge License Management website, where we've revolutionized the way you handle
                software licenses. In today's rapidly evolving tech landscape, managing licenses can be a daunting task,
                but we're here to simplify the process for you. With our intuitive platform, you can regain control over
                your software licenses, ensuring compliance, minimizing costs, and maximizing efficiency. Whether you're
                a small business or a large enterprise, our comprehensive suite of tools and expert guidance will help
                you navigate the complex world of licensing effortlessly. </p>
            </div>
            <br>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr style="height:2px;border-width:0;color:red;background-color:red">

    <div id="services">
      <div class="background-container" style="background-color: black;">
        <div class="id" style="height: 100%;">
          <div class="name1" style="border-radius: 0px; ">
            <br><br><br>
            <h1 class="heading1">All-in-one endpoint platform</h1>
            <br>
            <div style=" width: 90%; margin: 0 auto; ">
              <p class="info21" style="text-align: center; ">
                Everything in IT converges into an endpoint. And behind every endpoint, there's an end user or a
                technician. License Central brings your devices, apps, data personnel together in one place, enabling
                you to secure your digital workplace and manage your workforce across the globe. </p>
            </div>
            <br>
            <br>
            <div class="card">
              <br>
              <h2 style="text-align: center;">MANAGE EVERYTHING</h2>
              <div class="img-div">
                <div class="container">
                  <img src="assets/img/laptop.png" alt="Avatar" class="image">
                  <h4 style="padding-left: 70px;"><b>Laptop</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/mobile.jpg" alt="Avatar" class="image">
                  <h4 style="padding-left: 70px;"><b>Mobile</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/pc.png" alt="Avatar" class="image1">
                  <h4 style="padding-left: 60px;"><b>Desktop</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/server.png" alt="Avatar" class="image1">
                  <h4 style="padding-left: 70px;"><b>Server</b></h4>
                  <br>
                </div>
              </div>
            </div>
            <br>

            <div class="card">
              <br>
              <h2 style="text-align: center;">SECURE EVERYWHERE</h2><br>
              <div class="img-div">
                <div class="container">
                  <img src="assets/img/homeee.png" alt="Avatar" class="image"><br>
                  <h4 style="padding-left: 70px;"><b>Home</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/office.png" alt="Avatar" class="image"><br>
                  <h4 style="padding-left: 70px;"><b>Office</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/hybrid.png" alt="Avatar" class="image1"><br>
                  <h4 style="padding-left: 60px;"><b>Hybrid</b></h4>
                </div>
                <div class="container">
                  <img src="assets/img/admin.png" alt="Avatar" class="image1"><br>
                  <h4 style="padding-left: 70px;"><b>Frontline</b></h4>
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>

      <div id="services">
        <div class="background-container" style="background-color: black;">
          <div class="id" style="height: 100%;">
            <div class="name1" style="border-radius: 0px; ">
              <h1 class="heading1">Take control of your business fleet</h1>
              <br>
              <div style="width: 90%; margin: 0 auto; ">
                <p class="info21" style="text-align: center; ">
                  License Central supports a wide range of devives and OSs. </p>
              </div>
              <br>
              <div class="card1">
                <br>
                <h2 style="text-align: center;">SUPPORTED DEVICES</h2>
                <div class="img-div">
                  <div class="container">
                    <img src="assets/img/laptop.png" alt="Avatar" class="image">
                  </div>
                  <div class="container">
                    <img src="assets/img/mobile.jpg" alt="Avatar" class="image">
                  </div>
                  <div class="container">
                    <img src="assets/img/pc.png" alt="Avatar" class="image1">
                  </div>
                  <div class="container">
                    <img src="assets/img/server.png" alt="Avatar" class="image1">
                    <br>
                  </div>
                  <div class="container">
                    <img src="assets/img/tab.png" alt="Avatar" class="image1">
                    <br>
                  </div>
                  <div class="container">
                    <img src="assets/img/iot.jpg" alt="Avatar" class="image1">
                    <br>
                  </div>
                </div>
              </div>
              <br>

              <div class="card1">
                <br>
                <h2 style="text-align: center;">SUPPORTED OSs</h2><br>
                <div style="display: flex;">
                  <div class="container">
                    <img src="assets/img/windows.png" alt="Avatar"><br>
                  </div>
                  <div class="container">
                    <img src="assets/img/android.png" alt="Avatar"><br>
                  </div>
                  <div class="container">
                    <img src="assets/img/linux.png" alt="Avatar"><br>
                  </div>
                  <div class="container">
                    <img src="assets/img/ubun.png" alt="Avatar"><br>
                    <br>
                    <br>
                  </div>
                  <div class="container">
                    <img src="assets/img/app.png" alt="Avatar" style="height: 50%;width: 200%;"><br>
                    <br>
                    <br>
                  </div>
                  <div class="container">
                    <img src="assets/img/bb.png" alt="Avatar" style="height: 50%;"><br>
                    <br>
                    <br>
                  </div>
                  <div class="container">
                    <img src="assets/img/macos.png" alt="Avatar"><br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="text-center">
              </div>
            </div>
          </div>
        </div>

        <hr style="height:2px;border-width:0;color:red;background-color:red">

        <div class="main1">
          <div id="features">
            <div class="background-container" style="background-color: white;">
              <div class="id" style="height: 100%;">
                <div class="sm:pb-30 sm:pt-30 py-20">
                  <div class="name" style="border-radius: 0px; border: 1px solid black;">
                    <h1 class="heading"><i>Why choose License Central?</i></h1>
                    <p class="info1">We believe in forging long-term partnerships based on privacy and trust
                    </p>
                    <br>
                    <br>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white; 
                            width: 50%; margin-left: 18rem; ;">
                      <p class="info2" style="text-align: center; ">
                        Your privacy over everything everything else
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white; 
                            width: 50%; margin-left: 18rem; ">
                      <p class="info2" style="text-align: center; ">
                        Profitable and reliable without external acquisitions
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white; 
                            width: 50%; margin-left: 18rem; ">
                      <p class="info2" style="text-align: center; ">
                        Single platform for many purposes
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white; 
                            width: 50%; margin-left: 18rem; ">
                      <p class="info2" style="text-align: center; ">
                        We've made adapting to the future easy
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white;  width: 50%; margin-left: 18rem; ">
                      <p class="info2" style="text-align: center; ">
                        Manage hardware and software assests along with license and warranty tracking
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <div style="border-radius: 5px; border: 1px solid white; width: 50%; margin-left: 18rem; ">
                      <p class="info2" style="text-align: center; ">
                        Detect and remediate vulnerabilities around the clock
                        <br>
                      <div class="text-center">
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>

<router-outlet></router-outlet>